.App {
  margin: 0 30% 0 30%;
}

.App-title {
  text-align: center;
  border-bottom: 1px solid grey;
}

.App-list {
  margin-top: 6vh;
}

.comment,
.product-votes {
  display: flex;
  flex-direction: row;
}
